body, html, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body.bp3-dark {
  background-color: #30404d;
}

.pane-sidebar .bp3-menu {
  min-width: initial !important;
}

.bp3-menu.menu-sidebar {
  padding-bottom: 0;
}

.bp3-menu.menu-page-list-controls {
  padding-top: 0;
  padding-bottom: 0;
}

.bp3-menu.menu-page-list {
  padding-top: 0;
  overflow-y: auto;
}

.pane-sidebar {
  display: flex;
  flex-direction: column;
}

.btn-page[data-selected="true"] {
  background-color: rgba(19, 124, 189, 0.2) !important;
}

.bp3-tab-indicator-wrapper {
  width: 100% !important;
}

.bp3-editable-text::before {
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0),
              0 0 0 0 rgba(19, 124, 189, 0),
              inset 0 0 0 1px rgba(16, 22, 26, 0.2);
}

.markdown-renderer code {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  overflow: auto;
  white-space: pre;
}

.li-page {
  margin-left: .5em;
}

.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
