@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";

body, html, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body.bp3-dark {
  background-color: #30404d;
}

.bp3-tab-list {
  width: 100%;
}

.bp3-tab-indicator-wrapper {
  width: 100% !important;
}

.bp3-editable-text::before {
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 
              0 0 0 0 rgba(19, 124, 189, 0), 
              inset 0 0 0 1px rgba(16, 22, 26, 0.2);
}